
@{
    ViewBag.Title = "Cookie";
}
<div class="container">
    <header class="entry-title">
        <h2 style="color: darkslategrey">GİZLİLİK VE ÇEREZ POLİTİKASI</h2>
    </header>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gizlilik ve Çerez Politikası</li>
            </ol>
        </nav>
    </div>
    <div class="row">

        <div class="col-md-12">
            <div>
                <h3>Gizlilik Politikası:</h3>
                <p>
                    D-Market Elektronik Hizmetler ve Ticaret A.Ş. (“Hepsiburada”) olarak, kullanıcılarımızın hizmetlerimizden güvenli ve eksiksiz şekilde faydalanmalarını sağlamak amacıyla sitemizi kullanan üyelerimizin gizliliğini korumak için çalışıyoruz. Bu doğrultuda, işbu Hepsiburada Gizlilik Politikası (“Politika”), üyelerimizin kişisel verilerinin 6698 sayılı Kişisel Verilerin Korunması Kanunu (“Kanun”) ile tamamen uyumlu bir şekilde işlenmesi ve kullanıcılarımızı bu bağlamda bilgilendirmek amacıyla hazırlanmıştır. Hepsiburada.com çerez politikası İşbu Politika’nın ayrılmaz parçasıdır.

                    İşbu Politika’nın amacı, Hepsiburada tarafından işletilmekte olan www.hepsiburada.com internet sitesi ile mobil uygulamanın (hepsi birlikte “Platform” olarak anılacaktır) işletilmesi sırasında Platform üyeleri/ziyaretçileri/kullanıcıları (hepsi birlikte “Veri Sahibi” olarak anılacaktır) tarafından Hepsiburada ile paylaşılan veya Hepsiburada’nın, Veri Sahibi’nin Platform’u kullanımı sırasında ürettiği kişisel verilerin kullanımına ilişkin koşul ve şartları tespit etmektir.
                </p>
                <h3>Hangi Veriler İşlenmektedir?</h3>
                <p>Aşağıda Hepsiburada tarafından işlenen ve Kanun uyarınca kişisel veri sayılan verilerin hangileri olduğu sıralanmıştır. Aksi açıkça belirtilmedikçe, işbu Politika kapsamında arz edilen hüküm ve koşullar kapsamında “kişisel veri” ifadesi aşağıda yer alan bilgileri kapsayacaktır.</p>
                <div>
                    <ul>
                        <li>Kimlik Bilgisi</li>
                        <li>Kullanıcı Bilgisi</li>
                        <li>Kullanıcı İşlem Bilgisi</li>
                        <li>İşlem Güvenliği Bilgisi</li>
                        <li>Finansal Bilgi</li>
                        <li>Pazarlama Bilgisi</li>
                        <li>Talep/Şikayet Yönetimi Bilgisi</li>
                    </ul>
                </div>
                <p>Kişisel Verilerin Korunması Kanunu’nun 3. ve 7. maddeleri dairesince, geri döndürülemeyecek şekilde anonim hale getirilen veriler, anılan kanun hükümleri uyarınca kişisel veri olarak kabul edilmeyecek ve bu verilere ilişkin işleme faaliyetleri işbu Politika hükümleri ile bağlı olmaksızın gerçekleştirecektir.</p>
                <h3>Kişisel Veri İşleme Amaçları</h3>
                <p>Hepsiburada, Veri Sahibi tarafından sağlanan kişisel verileri, üyelik kaydı ve hesabının oluşturulması ve buna ilişkin kayıtların tutulması, Veri Sahibi’nin Platform üzerinden sağlanan hizmetlerden faydalandırılması sistem hatalarının tespit edilerek performans takibinin yapılması ve Platform’un işleyişinin iyileştirilmesi, bakım ve destek hizmetleri ile yedekleme hizmetlerinin sunulması amaçları dahil olmak üzere Hepsiburada tarafından sunulan ürün ve hizmetlerden ilgili kişileri faydalandırmak için gerekli çalışmaların iş birimleri tarafından yapılması ve ilgili iş süreçlerinin yürütülmesi ile bu ürün ve hizmetlerin ilgili kişilerin beğeni, kullanım alışkanlıkları ve ihtiyaçlarına göre özelleştirilerek ilgili kişilere önerilmesi ve tanıtılması için gerekli olan aktivitelerin planlanması ve icrası, Hepsiburada tarafından yürütülen ticari faaliyetlerin gerçekleştirilmesi için ilgili iş birimleri tarafından gerekli çalışmaların yapılması ve buna bağlı iş süreçlerinin yürütülmesi, Hepsiburada ve iş ilişkisi içerisinde bulunduğu kişilerin hukuki, teknik ve ticari-iş güvenliğinin temini ile Hepsiburada’nın ticari ve/veya iş stratejilerinin planlanması ve icrası amaçlarıyla işlenebilecektir.</p>
                <p>
                    Veri Sahiplerinin Açık Rızası Doğrultusunda İşlenecek Kişisel Veriler ve İşleme Amaçları
                    Veri Sahibi’nin açık rızası kapsamında, Hepsiburada, Veri Sahipleri’nin Platform üzerindeki hareketlerini takip ederek kullanıcı deneyiminin artırılması, istatistik oluşturulması, profilleme yapılması, doğrudan pazarlama ve yeniden pazarlama, Veri Sahibi’ne özel promosyon önerilerinin oluşturulması ve Veri Sahibi’ne iletilmesi ve bu kapsamda elde edilen verilerin her türlü reklam ve materyal içeriğinde kullanılması amacıyla veri işleyebilecek ve aşağıda anılan taraflarla bu verileri paylaşabilecektir.
                </p>
                <h3>Kişisel Verilerin Aktarımı:</h3>
                <p>
                    Hepsiburada, Veri Sahibi’ne ait kişisel verileri ve bu kişisel verileri kullanılarak elde ettiği yeni verileri, işbu Gizlilik Politikası ile belirlenen amaçların gerçekleştirilebilmesi için Hepsiburada’nın hizmetlerinden faydalandığı üçüncü kişilere, söz konusu hizmetlerin temini amacıyla sınırlı olmak üzere aktarılabilecektir. Hepsiburada, Veri Sahibi deneyiminin geliştirilmesi (iyileştirme ve kişiselleştirme dâhil), Veri Sahibi’nin güvenliğini sağlamak, hileli ya da izinsiz kullanımları tespit etmek, operasyonel değerlendirme araştırılması, Platform hizmetlerine ilişkin hataların giderilmesi ve işbu Gizlilik Politikası’nda yer alan amaçlardan herhangi birisini gerçekleştirebilmek için SMS gönderimi yapanlar da dahil olmak üzere dış kaynak hizmet sağlayıcıları, barındırma hizmet sağlayıcıları (hosting servisleri), hukuk büroları, araştırma şirketleri, çağrı merkezleri gibi üçüncü kişiler ile paylaşabilecektir.

                    Kişisel veriler, Kanun’un 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde Doğan Holding A.Ş. ve Doğan Online Grup Şirketleri Şirket yetkilileri, hissedarları, iş ortaklarımız, tedarikçilerimiz, kanunen yetkili kamu kurum ve kuruluşları ile kanunen yetkili özel kurumlar ile paylaşılabilecek, bu amaçlarla sınırlı olarak Kanun m.9’da işaret edilen usul esaslar ile Kişisel Verileri Koruma Kurulu kararları çerçevesinde yurt dışına aktarılabilecektir.
                </p>

            </div>
        </div>
    </div>
    <hr>

</div>

