
@{
    ViewBag.Title = "Kvkk";
}

<div class="container">
    <header class="entry-title">
        <h2 style="color: darkslategrey">KİŞİSEL VERİLERİN İŞLENMESİNE İLİŞKİN AYDINLATMA METNİ</h2>
    </header>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">KVKK</li>
            </ol>
        </nav>
    </div>
    <div class="col">

        <div class="row my-2">
            <div>
                <p>
                    1. Aydınlatma Metni’nin Amacı ve Şirketimizin Veri Sorumlusu Konumu:
                    Şirketimiz D-Market Elektronik Hizmetler ve Ticaret A.Ş. (“Hepsiburada” ve/veya “Şirket”), müşterilere ilişkin kişisel veriler bakımından 6698 sayılı Kişisel Verilerin Korunması Kanunu (“Kanun”) kapsamında “veri sorumlusu” sıfatına sahip olup işbu Aydınlatma Metni ile söz konusu Kanun uyarınca müşterilerin Hepsiburada tarafından gerçekleştirilen kişisel veri işleme faaliyetleri hakkında aydınlatılması hedeflenmektedir.
                </p>
                <p>
                    2. Müşterilere Ait Kişisel Verilerin İşlenme Amacı:
                    Müşterilere ait kişisel veriler, Hepsiburada tarafından sunulan ürün ve hizmetlerden ilgili kişileri faydalandırmak için gerekli çalışmaların iş birimleri tarafından yapılması ve ilgili iş süreçlerinin yürütülmesi, Hepsiburada tarafından yürütülen ticari faaliyetlerin gerçekleştirilmesi için ilgili iş birimleri tarafından gerekli çalışmaların yapılması ve buna bağlı iş süreçlerinin yürütülmesi, Hepsiburada’nın ticari ve/veya iş stratejilerinin planlanması ve icrası, Hepsiburada’nın ve Hepsiburada ile iş ilişkisi içerisinde olan ilgili kişilerin hukuki, teknik ve ticari iş güvenliğinin temini de dahil olmak üzere Kanun’un 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde işlenmektedir. Kişisel verilerin işlenmesine ilişkin detaylı bilgilere Hepsiburada Tarafından 6698 sayılı Kanun Kapsamında Kişisel Verilerin İşlenmesi ve Korunmasına İlişkin Politika’dan ulaşılabilecektir.
                </p>
                <p>
                    3. Müşterilerin Açık Rızası Doğrultusunda İşlenecek Kişisel Veriler ve İşleme Amaçları:
                    Açık rıza doğrultusunda işlenecek kişisel veriler ve işleme amaçları Rıza Metni’nde belirtilmiştir.
                </p>
                <p>
                    4. Müşterilere Ait Kişisel Verilerin Aktarımı:
                    Müşterilere ait kişisel veriler, Hepsiburada tarafından sunulan ürün ve hizmetlerden ilgili kişileri faydalandırmak için gerekli çalışmaların iş birimleri tarafından yapılması ve ilgili iş süreçlerinin yürütülmesi, Hepsiburada tarafından yürütülen ticari faaliyetlerin gerçekleştirilmesi için ilgili iş birimleri tarafından gerekli çalışmaların yapılması ve buna bağlı iş süreçlerinin yürütülmesi, Hepsiburada’nın ticari ve/veya iş stratejilerinin planlanması ve icrası, Hepsiburada’nın ve Hepsiburada ile iş ilişkisi içerisinde olan ilgili kişilerin hukuki, teknik ve ticari iş güvenliğinin temini için gerekli olan aktivitelerin planlanması ve icrası da dahil olmak üzere Kanun’un 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde Doğan Holding A.Ş. ve Doğan Online Grup Şirketleri, Şirket yetkilileri, iştiraklerimiz, iş ortaklarımız, tedarikçilerimiz, hissedarlarımız, kanunen yetkili kamu kurum ve kuruluşları ile özel kurumlar ile paylaşılabilecektir.
                </p>
                <p>
                    5. Kişisel Verilerin Toplanma Yöntemi ve Hukuki Sebebi:
                    Kişisel veriler, müşterilerden elektronik ortamda toplanmaktadır. Yukarıda belirtilen hukuki sebeplerle toplanan kişisel veriler Kanun’un 5. ve 6. maddelerinde ve bu Aydınlatma Metni ve açık rıza gerekli olduğu hallerde Rıza Metni’nde belirtilen amaçlarla işlenebilmekte ve aktarılabilmektedir.
                </p>
                <p>
                    6. Kişisel Veri Sahibi Olarak Müşterilerin Hakları:
                    Kanun’un 11. maddesi uyarınca veri sahipleri; (i) kendileri ile ilgili kişisel veri işlenip işlenmediğini öğrenme, (ii) kişisel verileri işlenmişse buna ilişkin bilgi talep etme, (iii) kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme, (iv) yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme, (v) kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme, (vi) Kanun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme, (vii) işlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme ve (viii) kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme haklarına sahiptir.
                </p>
                <p>
                    Söz konusu hakların kullanımına ilişkin talepler, kişisel veri sahipleri tarafından Hepsiburada Tarafından 6698 sayılı Kanun Kapsamında Kişisel Verilerin İşlenmesi ve Korunmasına İlişkin Politika‘da belirtilen yöntemlerle iletilebilecektir. Hepsiburada, söz konusu talepleri değerlendirerek 30 gün içerisinde sonuçlandıracaktır. Hepsiburada’nın taleplere ilişkin olarak Kişisel Verileri Koruma Kurulu tarafından belirlenen (varsa) ücret tarifesi üzerinden ücret talep etme hakkı saklıdır.
                </p>
                </p>
            </div>
        </div>
    </div>

